@model IPagedList<mertaksublogg.Models.makale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList;
@using PagedList.Mvc;


<div class="col-md-7 content-left">
    @foreach (var item in Model)
    {
        <div class="article">
            <h5 class="head">@item.kategori.kategoriadi</h5>
            <h6>@item.baslik</h6>
            <a class="title" href="/Home/MakaleDetay/@item.makaleid">@item.ozet</a>
            <a href="/Home/MakaleDetay/@item.makaleid"><img src="@item.buyukfoto" alt="" /></a>
            @if (item.icerik.Length > 147)
            {
                <p>@Html.Raw(item.icerik.Substring(0, 147))  <br /> <a href="/Home/MakaleDetay/@item.makaleid">  Devamı için tıklayınız...</a></p>
            }
            else
            {
                <p> @Html.Raw(item.icerik) <br /> <a href="/Home/MakaleDetay/@item.makaleid">  Devamı için tıklayınız...</a></p>
            }
            <span></span>
        </div>
    }
    <div class="row">
        <div class="col-md-8 text-center">
            <div class="pagedList pegination-lg">
                @Html.PagedListPager(Model, i => Url.Action("Index", "Home", new { i }), PagedListRenderOptions.Classic)
            </div>
        </div>
    </div>



</div>



@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.kategori.kategoriadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uye.kullaniciadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.baslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ozet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icerik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buyukfoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kucukfoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.okunma)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.kategori.kategoriadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uye.kullaniciadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ozet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icerik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.buyukfoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kucukfoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.okunma)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.makaleid }) |
                @Html.ActionLink("Details", "Details", new { id=item.makaleid }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.makaleid })
            </td>
        </tr>
    }

    </table>*@
